// Place all the styles related to the Stores controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.entry{
  height: 240px;
}

  a{
    float: left;
  }

  h3 {
    position: relative;
    left: 24px;
  }

  .price_line {
    position: relative;
    left: 24px;
  }

  .description{
    position: relative;
    left: 24px;
    width: 70%;
  }